@using Admin_Interface.Models;
@using Admin_Interface.Models.Request;

@model PaginadorRoles<Usuarios>

@{
    ViewBag.Title = "Roles de Usuario";
    List<rolesResquest> listroles = (List<rolesResquest>)ViewBag.rolesDescripcion;
    List<SelectListItem> itemsoc = new List<SelectListItem>();

    foreach (rolesResquest s in listroles)
    {
        SelectListItem selListItem = new SelectListItem()
        {
            Value = s.id.ToString(),
            Text = s.rol_descripcion.ToString()
        };
        itemsoc.Add(selListItem);
    }
}


<h2>Roles</h2>

<hr />

<input type="hidden" id="page" value="Roles" />

<div class="form-inline">
    <form method="get" action=@Url.Action("Index", "rol")>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 form-group">
                    <input type="text" class="form-control" id="pernr" name="usuario" placeholder="Usuario" />
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 form-group">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" />
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 form-group">
                    <select class="form-control" id="cargo" name="cargo">
                        <option value="" selected="selected" disabled="disabled">Cargo</option>
                        <option value="4">Gerente de tienda</option>
                        <option value="10">Subgerente de tienda</option>
                        <option value="9">Subgerente de restaurante</option>
                        <option value="6"> Jefaturas Administrativas</option>
                        <option value="7">Jefaturas Operativas en Plantas</option> 
                        <option value="3">Gerente de restaurante</option>
                        <option value="11">Supervisor de finca</option>
                        <option value="5">Gerente de Zona</option>
                        <option value="12">Supervisor de Zona</option>
                        <option value="8">Oficial de RRHH</option>
                        <option value="2">Departamento de IT</option>
                        <option value="1">APP</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 form-group">
                    <select class="form-control" id="status" name="status">
                        <option value="" selected="selected" disabled="disabled">Seleccione Estatus</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                        <option value="2">Bloqueado</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <button id="btn-buscar" class="btn btn-success col-xs-12" type="submit">Buscar</button>
            </div>
        </div>
    </form>
</div>

<hr />

<div class="resalt form-group col-xs-12">
    <div class="form-group">
        <h3 class="h3-table">Usuarios con Roles</h3>

        <a href="@Url.Action("Create", "rol")" class="create-intable">
            @*<input type="button" class="btn btn-success" value="Nueva Rol" />*@
        </a>
    </div>
    <table class="table table-responsive table-striped">
        <tr>
            <th>ID Usuario</th>
            <th>Usuario (Nro Personal)</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cargo</th>
            <th>Estatus</th>

            <th class="text-right"><div class="td-icon-table">Acciones</div></th>
        </tr>
        @if (Model != null)
        {
        foreach (var item in Model.Resultado)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pernr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @foreach (var rol_descripcion in listroles)
                    {
                        if (rol_descripcion.id == item.id_rol)
                        {
                            @Html.DisplayFor(modelItem => rol_descripcion.rol_descripcion)
                        }
                    }
                </td>
                <td>
                    @if (item.status == "0")
                    {
                        var variable = "Inactivo";
                        @Html.DisplayFor(modelItem => variable)
                    }
                    @if (item.status == "1")
                    {
                        var variable = "Activo";
                        @Html.DisplayFor(modelItem => variable)
                    }
                    @if (item.status == "2")
                    {
                        var variable = "Bloqueado";
                        @Html.DisplayFor(modelItem => variable)
                    }
                </td>
                <td class="text-right">
                    <div class="td-icon-table">
                        <a href="@Url.Action("Edit", "rol" , new { id=item.id })"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="#" onclick="return deleteobject('@Html.DisplayFor(modelItem => item.id)', 'rol')"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </td>
            </tr>
        }
        }  
    </table>
</div>




<div class="form-group">

    @if (Model.Resultado.Count() > 0)
    {
        <span class="paginador">
            <strong>@Model.TotalRegistros</strong> registros encontrados
        </span>
        <span class="paginador">&nbsp;|&nbsp;</span>
        <span class="paginador">
            Página <strong>@(Model.PaginaActual)</strong> de
            <strong>@Model.TotalPaginas</strong>
        </span>
        <span class="paginador">&nbsp;|&nbsp;</span>
    }
    else
    {
        <span class="paginador">No hay resultados para esta búsqueda</span>
        <span class="paginador">&nbsp;|&nbsp;</span>
    }
    
    @if (Model.PaginaActual > 1)
    {
        @Html.ActionLink("<<", "Index", new
   {
       p = 1,
       pernr = Model.tempVar.pernr,
       nombre = Model.tempVar.name
   },
                        new { @class = "btn btn-sm btn-default" })
        <span></span>
        @Html.ActionLink("Anterior", "Index", new
   {
       p = Model.PaginaActual - 1,
       pernr = Model.tempVar.pernr,
       nombre = Model.tempVar.name
   },
                        new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        @Html.ActionLink("<<", "Index", new { p = 1 },
                        new { @class = "btn btn-sm btn-default disabled" })
        <span></span>
        @Html.ActionLink("Anterior", "Index", new { p = 1 },
                        new { @class = "btn btn-sm btn-default disabled" })
    }
    <span></span>
    @if (Model.PaginaActual < Model.TotalPaginas)
    {
        @Html.ActionLink("Siguiente", "Index", new
   {
       p = Model.PaginaActual + 1,
       pernr = Model.tempVar.pernr,
       nombre = Model.tempVar.name
   },
                        new { @class = "btn btn-sm btn-default" })
        <span></span>
        @Html.ActionLink(">>", "Index", new
   {
       p = Model.TotalPaginas,
       pernr = Model.tempVar.pernr,
       nombre = Model.tempVar.name
   },
                        new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        @Html.ActionLink("Siguiente", "Index", new { p = Model.TotalPaginas - 1 },
                        new { @class = "btn btn-sm btn-default disabled" })
        <span></span>
        @Html.ActionLink(">>", "Index", new { p = Model.TotalPaginas },
                        new { @class = "btn btn-sm btn-default disabled" })
    }
</div>









