@using Admin_Interface.Models.Request;

@model Admin_Interface.Models.sap_empleados

@{
    ViewBag.Title = "Empleados - Registro";
    List<subdivisionRequest> subdivisionList = (List<subdivisionRequest>)ViewBag.subdivision;
    List<SelectListItem> items = new List<SelectListItem>();
    
    foreach (subdivisionRequest s in subdivisionList)
    {
        SelectListItem selListItem = new SelectListItem() 
        { 
            Value = s.id.ToString(), 
            Text = s.nombre.ToString()
        };
        items.Add(selListItem);
    }
}

<h2>Empleados</h2>

<hr />

<input type="hidden" id="page" value="EmpleadosEdit" />

<div class="resalt form-group col-xs-12 text-center">

    @using (Html.BeginForm())
    {
        <h3>Actualizar Empleado</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-sm-12">
            @Html.EditorFor(model => model.pernr, new { htmlAttributes = new { @class = "form-control", @placeholder="Pernr", @required="required" } })
            @Html.ValidationMessageFor(model => model.pernr, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-12">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder="Nombres", @required="required" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group col-sm-12">
            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control", @placeholder="Apellidos", @required="required" } })
            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-12">
            @Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "form-control", @placeholder="DNI", @required="required" } })
            @Html.ValidationMessageFor(model => model.dni, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-12">
            @Html.DropDownList("sucursal", items, "Seleciona Sucursal", new { @class="form-control", @id= "sucursal", @required="required" })
            @Html.HiddenFor(model => model.sucursal, new { @id="sucursal" })
        </div>

        @*<div class="form-group col-sm-12">
            <input type="text" id="fecha" name="fecha" maxlength="10" class="form-control date" data-date-format="YYYY/MM/DD" />
            @Html.HiddenFor(model => model.created, new { @id="created", @name="created" })
            @Html.ValidationMessageFor(model => model.created, "", new { @class = "text-danger" })
        </div>*@

        @*<div class="form-group col-sm-12">
            @Html.EditorFor(model => model.permiso, new { htmlAttributes = new { @class = "form-control", @placeholder="Permiso", @required="required" } })
            @Html.ValidationMessageFor(model => model.permiso, "", new { @class = "text-danger" })
        </div>*@

        <div class="form-group col-sm-12">
            <select class="form-control" id="estatusEmpleado" name="estatusEmpleado" required="required">
                <option selected="selected" disabled="disabled">Selecciona Estatus</option>
                <option value="3">Activo</option>
                <option value="1">Suspendido</option>
                <option value="0">Retirado</option>
            </select>
            @Html.HiddenFor(model => model.status_empleado, new { @id="status_empleado", @name="status_empleado" })
        </div>

        <div class="form-group col-sm-12">
            <input type="submit" id="actualizar" value="Actualizar" class="btn btn-success" />
            <a href="@Url.Action("Index", "sap_empleado" )">
                <input type="button" class="btn btn-info" value="Volver Atras" />
            </a>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
